@charset "UTF-8";

#tabmenu{
   width:500px;position:relative;  
   float:left;
}
#tabmenu dt.tab_btn1{margin-bottom:8px;}
#tabmenu dt.tab_btn2{position:absolute;top:0;left:104px;}
#tabmenu dt.tab_btn3{position:absolute;top:0;left:208px;}

#tabmenu li{
	line-height:21px;
	position:relative;
	padding-left:5px;	
}

#tabmenu p{
	position:absolute;
	top:8px;right:3px;
}
#tabmenu dd{display:none;}
#tabmenu dt:first-child+dd{display:block;}

